body {
    margin: 0;
    font-family: 'Exo', sans-serif;

    font-size: 15px;
    color: #282828;
    line-height: 1.5;
}

*, 
*:after
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container 
=======================*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro - первая страница 
=======================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: 
    url("../images/backgrounds/block1_background.png") center 
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 750px;   
    vertical-align: top;

    text-align: center;

}

.intro__title {
    max-width: 750px;   
    font-size: 65px;
    font-weight: 200;

    text-align: center;
    float: none;
}

/* Button-Play 
=======================*/
.btnPlay {
    margin: 35px auto;
    display: flex;
    display: inline-block;
    vertical-align: top;
}

.btnPlayColor {
    transition: fill .1s linear;
}

.btnPlayColor:hover {
    fill: #6e7295;
}


/* Button 
=======================*/
.btn {
    display: flex;
    display: inline-block;
    vertical-align: top;
    padding: 15px 60px;

    margin: 5px auto;
    background-color: #ff6d6d;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;

    transition: background .1s
    linear, color .1s linear;
}

.btn:hover {
    background-color: #e45c5c;
    color: #f7ecec;
}

.txtUnderBtn {
    margin: 0;
    color: #777779;
    font-size: 14px;
    text-align: center;
}

/* Block #2 
=======================*/

.block_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;    
    background: 
    url("../images/backgrounds/block2_background.png") center
    no-repeat;
    background-size: contain;
    background-position: right;
}

.block2__aboveTitle {
    color: #ff6d6d;
    letter-spacing: 5px;
}

.block2__title {
    font-weight: 410;
    font-size: 40px;
    width: 100%;
    max-width: 600px;
    letter-spacing: 2px;
}

.block2__text1 {
    width: 100%;
    max-width: 530px;
    font-size: 16px;
    font-weight: 500;
    color: #8a8a8a;
}

.block2__text2 {
    width: 100%;
    max-width: 550px;
    font-size: 16px;
    font-weight: 500;
    color: #8a8a8a;
}

.block2_right {
    position: absolute;
    top: 30px;
    left: 30px;
      
}

.block2__background {
    float: right;
}


/* Block #3 
=======================*/
.block_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: 
    url("../images/backgrounds/block3_background.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    z-index: 30;
}

.block3__aboveTitle {
    color: #ff6d6d;
    letter-spacing: 5px;
    font-size: 16px;
}

.block3__title {
    font-weight: 410;
    font-size: 40px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Features 
=======================*/

.features {
    display: flex;
    justify-content: center;
    margin: 100px 0 ;
}

.features__item {
    width: 33.33333%;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 20px;
}

.features__icon {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
} 

.features__title {
    color: #282828;
    font-size: 22px;

}

.features__text {
    width: 400px;
    margin: 15px 0;
    font-weight: 600;
    font-size: 17px;
    color: #858584;

}

/* Block #4 
=======================*/

.block_4 {
    width: 100%;
    height: 1300px;  
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: 
    url("../images/backgrounds/block4_background.png") center
    no-repeat;
    background-size: 770px;
    background-position: left;
}

.block4__item {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100px;
    max-height: 1100px;
    align-items: center;
}

.block4__image {
    left: 230px;
    width: 600px;
    height: 370px;
    margin: 280px 150px 280px 300px;
}

.block4__allText {
    width: 100%;
    max-width: 555px;
}

.block4__aboveTitle {
    margin: 10px 0;
    color: #ff6d6d;
    letter-spacing: 5px;
}

.block4__title {
    font-weight: 500;
    font-size: 40px;
    width: 100%;
    max-width: 520px;
    letter-spacing: 1px;
}

.block4__text {
    font-weight: 500;
    margin: 20px 0;
    width: 100%;
    max-width: 480px;
    font-size: 16px;
    color: #8a8a8a;
}

/* Block #5
=======================*/

.block_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    url("../images/backgrounds/block5_background.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-left: 0; 
    margin-left: -140px;
}

.clients {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-left: auto; 
    margin-right: auto;
}

.clients__item {
    flex: 1;
    margin-top: 100px;
    width: 33.33333%;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 30px;
}

.clients__image {
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
} 

.clients__name {
    color: #fff;
    font-size: 22px;
    font-weight: 550;

}

.clients__profession {
    color: #c25759;
    font-size: 17px;
    font-weight: 650;
}

.clients__quote {
    font-style: italic;
    width: 380px;
    margin: 25px 0;
    font-weight: 500;
    font-size: 17px;
    color: #939394;
}

.block5__partnerImage {
    margin: 0 auto;
    /* padding: 0 50px; */
    margin-bottom: 100px;
    margin-left: 120px;
}

/* Bloock #6    
=======================*/

.block_6 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: 
    url("../images/backgrounds/block6_background.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 755px;
}

.block6__aboveTitle {
    margin-top: 100px;
    color: #ff6d6d;
    letter-spacing: 5px;
    font-size: 16px;
}

.block6__title {
    font-weight: 410;
    font-size: 40px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.block6__text {
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    margin-left: 280px; 
    margin-block-end: 100px;
    width: 100%;
    max-width: 620px;
    font-size: 16px;
    color: #8a8a8a;

}

/* Bloock #7   
=======================*/


/* Текст 
=======================*/
.block_7 {
    display: flex;
    background-color: #323969;
    height: 470px;
}

.block7__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block7__aboveTitle { 
    margin-top: 100px;
    color: #ff6d6d;
    letter-spacing: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

.block7__title {
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.block7__textUnderTitle {
    color: #fff;
    font-size: 16px;
    text-align: right;
    font-weight: 400;
    margin-right: 75px;
    margin-block-end: 0;
}

/* Поля для ввода данных и кнопка 
=================================*/

.block7__dataEntry {
    margin-top: 20px;
    margin-block-end: 45px;
}

* .block7__boxName,
* .block7__boxEmail,
* .block7__boxPassword {
    margin-right: 30px;
    width: 245px;
    height: 42px;
    border-radius: 2px;
    border: 1px solid #8e91a9;
    background-color: #464c77;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    padding: 0 0.75rem;

    transition: background-color .1s linear;
}

* .block7__boxName::placeholder,
* .block7__boxEmail::placeholder,
* .block7__boxPassword::placeholder {
    color: #fff;
    padding: 0 20px;
    font-size: 15px;
    opacity: 0.4;
}

* .block7__boxName:focus,
* .block7__boxEmail:focus,
* .block7__boxPassword:focus {
    background-color: #3f456e;
    outline: 0;
}

.block7__btn {
    display: flex;
    display: inline-block;
    padding: 11px 0;
    width: 260px;
    text-align: center;
    background-color: #ff6d6d;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    
    transition: background .1s
     linear, color .1s linear;
}

.block7__btn:hover {
    background-color: #e45c5c;
    color: #f7ecec;
}

.textUnderDataEntry {
    color: #a8aabc;
    font-size: 16px;
    text-align: center;
}


/* Footer    
=======================*/ 

.footer {
    background: 
    url("../images/backgrounds/footer_background.png") center
    no-repeat;
    background-size: 780px;
    background-position: right;
    flex-direction: column;
    margin: 0 auto;
}

.footer__blocks {
    display: flex;
    padding: 87px 0;
}

/* FooterBlock1 
==================*/

* .footer__block1,
* .footer__block2,
* .footer__block3,
* .footer__block4 {
    margin-right: 100px;
}

* .footer__block2Title,
* .footer__block3Title,
* .footer__block4Title {
    font-size: 22px;
    font-weight: 500;
}

.footer__adress {
    width: 100%;
    max-width: 250px;
    line-height: 1.7;
    font-weight: 500;
    color: #868686;
}

/* FooterBlock2 
==================*/

.block2__links ul {
    list-style: none;
    margin: 22px 0;
    padding: 0;     
}  

.block2__links li {
    list-style: none;
    padding: 0;   
    margin: 10px 0;
    color: #868686;
    font-weight: 500;
}  

.block2__links a {
    text-decoration: none;
    color: #868686;
}

.block2__links a:hover {
    color: #575353;
}

/* FooterBlock3 
==================*/

.block3__links ul {
    list-style: none;
    margin: 22px 0;
    padding: 0;     
}  

.block3__links li {
    list-style: none;
    padding: 0;   
    text-decoration: none;  
}

/* FooterBlock4
==================*/

.footer__email {
    margin: 20px 0;
    width: 190px;
    height: 43px;
    border-radius: 3px;
    border: 1px solid #b8b8bf;
    background-color: #f6f6f6;
    color: #282828;
    font-size: 16px;
    font-family: inherit;
    padding: 0 0.75rem;

    transition: background-color .1s linear;
}

.footer__email::placeholder {
    color: #868686;
    padding: 0 20px;
    font-size: 15px;
}

.footer__email:focus {
    background-color: #f0eeee;
    outline: 0;
}

.footer__btn {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: -5px;
    height: 45px;
    width: 50px;
    background-color: #ff6d6d;
    border: 0;
    border-radius: 3px;
    position: relative;

    transition: background .1s
    linear;
}

.footer__btn:hover {
     background-color: #e45c5c;
}

.footer__btnImage {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    height: auto;
}

/* Social Icons
==================*/

.social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-left: -15px;
}

.social__iconDribbble {
    height: 20px;
    width: 20px;
    margin-right: 20px;

    fill: #cbcbcb;

    transition: fill .1s linear;
}

.social__iconDribbble:hover {
    fill: #282828;
}


.social__iconFacebook {
    height: 20px;
    width: 20px;
    margin-right: 20px;

    fill: #cbcbcb;

    transition: fill .1s linear;
}

.social__iconFacebook:hover {
    fill: #282828;
}

.social__iconGooglePlus {
    height: 20px;
    width: 20px;
    margin-right: 20px;

    fill: #cbcbcb;

    transition: fill .1s linear;
}

.social__iconGooglePlus:hover {
    fill: #282828;
}


.social__iconTwitter {
    height: 20px;
    width: 20px;

    fill: #cbcbcb;

    transition: fill .1s linear;
}

.social__iconTwitter:hover {
    fill: #282828;
}

